In [30]:
# Task 1 - Create a tuple called student_info containing the following details:
# ('Mohan', 21, 'Computer Science', 8.7)
# Now perform the following:
# Print the name and branch using indexing.
# Print the last element using negative index.
# Slice the tuple to print only the first three elements.
# Try to change the branch name to 'AI & DS' and note what happens.
# Create another tuple college = ('XYZ University', 'Hyderabad') and concatenate it with student_info.

student_info = ('Mohan', 21, 'Computer Science', 8.7)
print('Name: ' + student_info[0], 'and', 'Branch: ' + student_info[2])
print('Last element is', student_info[-1])
print('First three elemets are', student_info[0:3])
print('Student branch name changed to', student_info[2].replace('Computer Science', 'AI & DS'))

college = ('XYZ University', 'Hyderabad')
complete_info = student_info + college
print(complete_info)

Name: Mohan and Branch: Computer Science
Last element is 8.7
First three elemets are ('Mohan', 21, 'Computer Science')
Student branch name changed to AI & DS
('Mohan', 21, 'Computer Science', 8.7, 'XYZ University', 'Hyderabad')

In [43]:
# Task 2 - You are given a tuple of prices of a mobile for the last 5 months:
# prices = (15999, 14999, 13999, 12999, 14999)

# Perform the following:

# Print the highest and lowest price.
# Find how many times the price 14999 appeared.
# Print the index of the first occurrence of 14999.
# Check whether the price 15999 is in the tuple or not.

prices = (15999, 14999, 13999, 12999, 14999)
print('Highest price is', max(prices))
print('Lowest price is', min(prices))
print('14999 appeared', prices.count(14999), 'times')
print('Index of the first occurrence of 14999 is', prices.index(14999))
if 15999 in prices:
    print('15999 is in the prices')
else:
    print('15999 is not in prices')

Highest price is 15999
Lowest price is 12999
14999 appeared 2 times
Index of the first occurrence of 14999 is 1
15999 is in the prices

In [54]:
# Task 3 - Create a set of your favourite fruits:
# fruits = {'apple', 'banana', 'mango', 'orange'}

# And another set of seasonal fruits:
# seasonal = {'mango', 'watermelon', 'orange', 'grapes'}

# Perform the following operations:
# Print the union of both sets.
# Print the intersection of both sets.
# Print the difference between fruits and seasonal.
# Print the symmetric difference between both sets.
# Add 'kiwi' to the fruits set.
# Remove 'banana' from the fruits set.

fruits = {'apple', 'banana', 'mango', 'orange'}
seasonal = {'mango', 'watermelon', 'orange', 'grapes'}

#performing operations

#Union of both sets
print('Union of both sets:', fruits | seasonal)

#intersection of both sets
print('Intersection of both sets:', fruits & seasonal)

#difference between fruits and seasonal
print('Difference between fruits and seasonal:', fruits - seasonal)

# symmetric difference between both sets
print('Symmetric difference between both sets:',fruits ^ seasonal)

#Adding 'kiwi' to the fruits set.
fruits.add('kiwi')
print('Added kiwi to the fruits:', fruits)

# Removed 'banana' from the fruits set.
fruits.remove('banana')
print('Removed banana from the fruits:', fruits)

Union of both sets: {'grapes', 'watermelon', 'apple', 'banana', 'mango', 'orange'}
Intersection of both sets: {'mango', 'orange'}
Difference between fruits and seasonal: {'apple', 'banana'}
Symmetric difference between both sets: {'grapes', 'watermelon', 'apple', 'banana'}
Added kiwi to the fruits: {'apple', 'banana', 'mango', 'orange', 'kiwi'}
Removed banana from fruits: {'apple', 'mango', 'orange', 'kiwi'}

In [76]:
# Task 4 - Set â€“ You have two groups of students:

# python_students = {'Amit', 'Riya', 'John', 'Sana'}
# java_students = {'John', 'Sana', 'Karan', 'Megha'}

# Perform the following:

# Find students who study both Python and Java.
# Find students who study only Python.
# Find students who study only Java.
# Find students who study either Python or Java but not both.
# Check if 'Riya' is a Java student.

python_students = {'Amit', 'Riya', 'John', 'Sana'}
java_students = {'John', 'Sana', 'Karan', 'Megha'}

#students who study both Python and Java.
students_studied_both = python_students & java_students
print('Students who studied both Python and Java are', students_studied_both)

# Students who study only Python.
Study_only_python = python_students - java_students
print('Students who study only Python are' , Study_only_python)

# Students who study only Java
Study_only_java = java_students - python_students
print('Students who study only Java are' , Study_only_java)

# Students who study either Python or Java but not both
study_either_of_one = python_students ^ java_students
print('Students who study either Python or Java but not both are',study_either_of_one)

# if 'Riya' is a Java student
if 'Riya' in java_students:
    print('Riya is a Java student')
else:
    print('Riya is not a java student')

Students who studied both Python and Java are {'Sana', 'John'}
Students who study only Python are {'Amit', 'Riya'}
Students who study only Java are {'Karan', 'Megha'}
Students who study either Python or Java but not both are {'Megha', 'Karan', 'Riya', 'Amit'}
Riya is not a java student