In [80]:
import pandas as pd

In [81]:
# Task - Perform data analysis on Exam Score dataset
# Step 1 - Collect/Download the data from Kaggle (Exam Score Prediction Dataset)
# Step 2 - Load dataset (after extraction)
# Step 3 - Read the dataset
# Step 4 - Check for the top and bottom 5 rows
# Step 5 - Check the shape, dimension, and info of the dataset
# Step 6 - Perform statistical analysis of the dataset
# Step 7 - Check for missing values
# Step 8 - Drop or impute the missing value
# Step 9 - Check for duplicates and outliers
# Step 10 - Drop duplicates and outliers
# Step 11 - Perform Label and Position(integer) based indexing

In [82]:
# Step 1 - Collect/Download the data from Kaggle (Exam Score Prediction Dataset)
# Step 2 - Load dataset (after extraction)
# Step 3 - Read dataset

df = pd.read_csv('Exam_Score_Prediction.csv')
print(df)

       student_id  age  gender   course  study_hours  class_attendance  \
0               1   17    male  diploma         2.78              92.9
1               2   23   other      bca         3.37              64.8
2               3   22    male     b.sc         7.88              76.8
3               4   20   other  diploma         0.67              48.4
4               5   20  female  diploma         0.89              71.6
...           ...  ...     ...      ...          ...               ...
19995       19997   18   other      bba         6.50              71.3
19996       19998   18    male    b.com         3.71              41.6
19997       19999   19   other  diploma         7.88              68.2
19998       20000   19    male      bba         4.60              76.3
19999       20001   20    male     b.sc         7.50              47.9

      internet_access  sleep_hours sleep_quality   study_method  \
0                 yes          7.4          poor       coaching
1                 yes          4.6       average  online videos
2                 yes          8.5          poor       coaching
3                 yes          5.8       average  online videos
4                 yes          9.8          poor       coaching
...               ...          ...           ...            ...
19995             yes          5.0          good     self-study
19996              no          5.9       average       coaching
19997             yes          4.6          poor    group study
19998              no          6.1          good     self-study
19999             yes          7.5          poor       coaching

      facility_rating exam_difficulty  exam_score
0                 low            hard        58.9
1              medium        moderate        54.8
2                high        moderate        90.3
3                 low        moderate        29.7
4                 low        moderate        43.7
...               ...             ...         ...
19995             low            easy        86.5
19996          medium        moderate        60.9
19997             low            easy        64.5
19998          medium        moderate        79.0
19999          medium        moderate        71.0

[20000 rows x 13 columns]

In [83]:
# Step 4 - Check for top and bottom 5 rows

print(f'Top 5 Rows:\n{df.head()}\n\n')
print(f'Bottom 5 Rows:\n{df.tail()}')

Top 5 Rows:
   student_id  age  gender   course  study_hours  class_attendance  \
0           1   17    male  diploma         2.78              92.9
1           2   23   other      bca         3.37              64.8
2           3   22    male     b.sc         7.88              76.8
3           4   20   other  diploma         0.67              48.4
4           5   20  female  diploma         0.89              71.6

  internet_access  sleep_hours sleep_quality   study_method facility_rating  \
0             yes          7.4          poor       coaching             low
1             yes          4.6       average  online videos          medium
2             yes          8.5          poor       coaching            high
3             yes          5.8       average  online videos             low
4             yes          9.8          poor       coaching             low

  exam_difficulty  exam_score
0            hard        58.9
1        moderate        54.8
2        moderate        90.3
3        moderate        29.7
4        moderate        43.7


Bottom 5 Rows:
       student_id  age gender   course  study_hours  class_attendance  \
19995       19997   18  other      bba         6.50              71.3
19996       19998   18   male    b.com         3.71              41.6
19997       19999   19  other  diploma         7.88              68.2
19998       20000   19   male      bba         4.60              76.3
19999       20001   20   male     b.sc         7.50              47.9

      internet_access  sleep_hours sleep_quality study_method facility_rating  \
19995             yes          5.0          good   self-study             low
19996              no          5.9       average     coaching          medium
19997             yes          4.6          poor  group study             low
19998              no          6.1          good   self-study          medium
19999             yes          7.5          poor     coaching          medium

      exam_difficulty  exam_score
19995            easy        86.5
19996        moderate        60.9
19997            easy        64.5
19998        moderate        79.0
19999        moderate        71.0

In [84]:
# Step 5 - Check the shape, dimension, and info of the dataset

print(f'Shape: {df.shape}')      #to check shape
print(f'Dimension: {df.ndim}')   #to check dimension
print(f'Info:\n{df.info()}')       #to check info

Shape: (20000, 13)
Dimension: 2
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   student_id        20000 non-null  int64
 1   age               20000 non-null  int64
 2   gender            20000 non-null  object
 3   course            20000 non-null  object
 4   study_hours       20000 non-null  float64
 5   class_attendance  20000 non-null  float64
 6   internet_access   20000 non-null  object
 7   sleep_hours       20000 non-null  float64
 8   sleep_quality     20000 non-null  object
 9   study_method      20000 non-null  object
 10  facility_rating   20000 non-null  object
 11  exam_difficulty   20000 non-null  object
 12  exam_score        20000 non-null  float64
dtypes: float64(4), int64(2), object(7)
memory usage: 2.0+ MB
Info:
None

In [85]:
# Step 6 - Perform statistical analysis of the dataset

print(f'Stastical analysis:\n{df.describe()}')

Stastical analysis:
         student_id           age   study_hours  class_attendance  \
count  20000.000000  20000.000000  20000.000000      20000.000000
mean   10000.504600     20.473300      4.007604         70.017365
std     5773.654959      2.284458      2.308313         17.282262
min        1.000000     17.000000      0.080000         40.600000
25%     5000.750000     18.000000      2.000000         55.100000
50%    10000.500000     20.000000      4.040000         69.900000
75%    15000.250000     22.000000      6.000000         85.000000
max    20001.000000     24.000000      7.910000         99.400000

       sleep_hours    exam_score
count  20000.00000  20000.000000
mean       7.00856     62.513225
std        1.73209     18.908491
min        4.10000     19.599000
25%        5.50000     48.800000
50%        7.00000     62.600000
75%        8.50000     76.300000
max        9.90000    100.000000

In [86]:
# Step 7 - Check for missing values

df.isnull().sum()

student_id          0
age                 0
gender              0
course              0
study_hours         0
class_attendance    0
internet_access     0
sleep_hours         0
sleep_quality       0
study_method        0
facility_rating     0
exam_difficulty     0
exam_score          0
dtype: int64

In [87]:
# Step 8 - Drop or impute the missing value

# df.dropna()   #to drop an value
# df.fillna()   #to fill the null value

In [95]:
# Step 9 - Check for duplicates and outliers

print(f'Duplicates: {df.duplicated().sum()}\n')
numeric_df = df.select_dtypes(include='number')
q1 = df.quantile(0.25, numeric_only=True)
q3 = df.quantile(0.75, numeric_only=True)
iqr = q3 - q1
lower_limit = q1 - 1.5 * iqr
upper_limit = q3 + 1.5 * iqr
outliers = numeric_df[(numeric_df < lower_limit) | (numeric_df > upper_limit)] 
print(f'Outliers:\n{outliers.sum()}')

Duplicates: 0

Outliers:
student_id          0.0
age                 0.0
study_hours         0.0
class_attendance    0.0
sleep_hours         0.0
exam_score          0.0
dtype: float64

In [98]:
# Step 10 - Drop duplicates and outliers

df.drop_duplicates()

,student_id,age,gender,course,study_hours,class_attendance,internet_access,sleep_hours,sleep_quality,study_method,facility_rating,exam_difficulty,exam_score
0,1,17,male,diploma,2.78,92.9,yes,7.4,poor,coaching,low,hard,58.9
1,2,23,other,bca,3.37,64.8,yes,4.6,average,online videos,medium,moderate,54.8
2,3,22,male,b.sc,7.88,76.8,yes,8.5,poor,coaching,high,moderate,90.3
3,4,20,other,diploma,0.67,48.4,yes,5.8,average,online videos,low,moderate,29.7
4,5,20,female,diploma,0.89,71.6,yes,9.8,poor,coaching,low,moderate,43.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19997,18,other,bba,6.50,71.3,yes,5.0,good,self-study,low,easy,86.5
19996,19998,18,male,b.com,3.71,41.6,no,5.9,average,coaching,medium,moderate,60.9
19997,19999,19,other,diploma,7.88,68.2,yes,4.6,poor,group study,low,easy,64.5
19998,20000,19,male,bba,4.60,76.3,no,6.1,good,self-study,medium,moderate,79.0
19999,20001,20,male,b.sc,7.50,47.9,yes,7.5,poor,coaching,medium,moderate,71.0

In [106]:
# Step 11 - Perform Label and Position(integer) based indexing

print(f'Label indexing:\n{df.loc[:, ['student_id', 'study_method']]}')
print(f'Position indexing:\n{df.iloc[0:5,1:6]}')

Label indexing:
       student_id   study_method
0               1       coaching
1               2  online videos
2               3       coaching
3               4  online videos
4               5       coaching
...           ...            ...
19995       19997     self-study
19996       19998       coaching
19997       19999    group study
19998       20000     self-study
19999       20001       coaching

[20000 rows x 2 columns]
Position indexing:
   age  gender   course  study_hours  class_attendance
0   17    male  diploma         2.78              92.9
1   23   other      bca         3.37              64.8
2   22    male     b.sc         7.88              76.8
3   20   other  diploma         0.67              48.4
4   20  female  diploma         0.89              71.6