In [2]:
''' File handling '''

' File handling '

In [4]:
#creating a file

with open('student.txt', 'w') as f:
    f.write('Name: Teja\n')
    f.write('Age: 24\n')
    f.write('Course: Data Analytics\n')

In [7]:
#Adding more info

with open('student.txt', 'a') as f:
    f.write('City: Visakhapatnam\n')
    f.write('Grade: A\n')

In [8]:
#reading a file

with open('student.txt', 'r') as f:
    print(f.read())

Name: Teja
Age: 24
Course: Data Analytics
City: Visakhapatnam
Grade: A
City: VisakhapatnamGrade: A
City: Visakhapatnam
Grade: A

In [16]:
#reading a file with limited characters

with open('student.txt', 'r') as f:
    print(f.read(10))

Name: Teja

In [27]:
#read line by line

with open('student.txt', 'r') as f:
    print(f.readline())
    print(f.readline())
    print(f.readline())

Name: Teja

Age: 24

Course: Data Analytics

In [35]:
#reading all the lines as a list

with open('student.txt', 'r') as f:
    print(f.readlines())

['Name: Teja\n', 'Age: 24\n', 'Course: Data Analytics\n', 'City: Visakhapatnam\n', 'Grade: A\n', 'City: VisakhapatnamGrade: A\n', 'City: Visakhapatnam\n', 'Grade: A\n']

In [39]:
#loop through a file

with open('student.txt', 'r') as f:
    for line in f:
        print('-->', line.strip())

--> Name: Teja
--> Age: 24
--> Course: Data Analytics
--> City: Visakhapatnam
--> Grade: A
--> City: VisakhapatnamGrade: A
--> City: Visakhapatnam
--> Grade: A

In [56]:
#Read and write together

with open('student.txt', 'r+') as f:
    data = f.read()
    f.write('This is the student record\n' + data)
    print(data)

Name: Teja
Age: 24
Course: Data Analytics
Grade: A
City: Visakhapatnam

In [59]:
with open('student.txt', 'r') as f:
    print(f.read())

Name: Teja
Age: 24
Course: Data Analytics
Grade: A
City: Visakhapatnam
This is the student record
Name: Teja
Age: 24
Course: Data Analytics
Grade: A
City: Visakhapatnam

In [55]:
#write and ready together

with open('python.txt', 'w+') as f:
    f.write('This is Python file\n')
    f.seek(0)   #cursor position
    print(f.read())

This is Python file

In [64]:
#binary file

with open('photo.jpg', 'rb') as file1:
    data = file1.read()

with open('copy.jpg', 'wb') as file2:
    file2.write(data)

In [69]:
#checking file

import os

if os.path.exists('student.txt'):
    print('This file exists')
else:
    print('This file does not exist')

This file exists

In [71]:
import os
os.remove('student.txt')

FileNotFoundError: [WinError 2] The system cannot find the file specified: 'student.txt'

In [72]:
import os

if os.path.exists('student.txt'):
    print('This file exists')
else:
    print('This file does not exist')

This file does not exist

In [ ]:
# #class task
# create your record - name, city, course, college (write, read, append, etc(all the operations))