In [1]:
fruits = ['apple', 'banana', 'mango']     #list

for fruit in fruits:
    print(fruit)

apple
banana
mango

In [2]:
fruits = ('apple', 'banana', 'mango')    #tuple

for fruit in fruits:
    print(fruit)

apple
banana
mango

In [3]:
name = 'gopal'      #element from the string

for ch in name:
    print(ch)

g
o
p
a
l

In [5]:
dict1 = {'name':'mohan', 'age': 25, 'gender':'male'}
type(dict1)

dict

In [6]:
for key in dict1:
    print(key)

name
age
gender

In [9]:
for value in dict1.values():
    print(value)

mohan
25
male

In [13]:
for key, value in dict1.items():
    print(f'{key}: {value}')

name: mohan
age: 25
gender: male

In [15]:
set1 = {1,2,3,4,5}    #set
for i in set1:
    print(i)

1
2
3
4
5

In [16]:
for i in range(5):
    print(i)

0
1
2
3
4

In [17]:
for i in range(1,5):
    print(i)

1
2
3
4

In [18]:
for i in range(1,5,2):
    print(i)

1
3

In [22]:
n = int(input('Enter a num'))

for i in range(1,(n-1),5):
    print(i)

Enter a num 80

1
6
11
16
21
26
31
36
41
46
51
56
61
66
71
76

In [26]:
for i in range(2,19,2):
    print(i)

2
4
6
8
10
12
14
16
18

In [29]:
n = int(input('Enter a num'))

for i in range(1,(n-1)):
    if i % 2 == 0:
        print(f'{i} is a even number')
    else:
        print(f'{i} is not a even number')

Enter a num 20

1 is not a even number
2 is a even number
3 is not a even number
4 is a even number
5 is not a even number
6 is a even number
7 is not a even number
8 is a even number
9 is not a even number
10 is a even number
11 is not a even number
12 is a even number
13 is not a even number
14 is a even number
15 is not a even number
16 is a even number
17 is not a even number
18 is a even number

In [39]:
# *
# **
# ***
# ****
# *****

for i in range(1,10):
    print("*"*i+" ")

*
**
***
****
*****
******
*******
********
*********

In [41]:
for i in range(1,5):
    print('*' * i)

*
**
***
****

In [60]:
''' Break '''

' Break '

In [64]:
for i in range(5):
    if i== 3:
        break
    print(i)

0
1
2

In [63]:
for i in range(5):
    print(i)
    if i== 3:
        break

0
1
2
3

In [65]:
''' Continue '''

' Continue '

In [69]:
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

In [88]:
# Mobile pin

# Set attempt range using a for loop
# then take user input
# set condition
# print correct or incorrect pin
# print card blocked after the range you have set

for attempt in range(3):
    user_password = input('Enter your password:')
    password = 'Hello'
    if user_password == password:
        print('You device is unlocked ‚úÖ')
        break
    else:
        print('You have entered incorrect password ü´•')
else:
    print('Your device is blocked ‚ùå')

Enter your password: Hello

You device is unlocked ‚úÖ

In [90]:
# laptop store and we have 3-4 things to purchase laptop, keyboard and mouse. To check if quantity is less than 6, we have to print that the item is out of stock 

store = {'laptop' : 6,
         'mouse' : 20,
         'keyboard' : 4}
for key, value in store.items():
    if value < 6:
        print(f'{key} is out of stock')
    else:
        print(f'{key} is available')

laptop is available
mouse is available
keyboard is out of stock

In [94]:
#nested for loop

for i in range(1,4):
    for j in range(1,3):
        print(i,j)

1 1
1 2
2 1
2 2
3 1
3 2

In [98]:
students = ['ram', 'shyam']
subjects = ['maths', 'physics', 'chemistry']

for s in subjects:
    for sub in subjects:
        print(f'{s} has taken {sub}')

maths has taken maths
maths has taken physics
maths has taken chemistry
physics has taken maths
physics has taken physics
physics has taken chemistry
chemistry has taken maths
chemistry has taken physics
chemistry has taken chemistry

In [103]:
# take dictioanry and take some restaurants and their menus 

restaurant = {'Sai Ram Parlour' : 'Sandwich', '4 Seasons' : 'Paneer biryani', 'Bean Board' : 'Brownie' , 'Pista House' : 'chocolate cake'}

for i in restaurant.keys():
    for j in restaurant.values():
        print(f'{i} : {j}')

Sai Ram Parlour : Sandwich
Sai Ram Parlour : Paneer biryani
Sai Ram Parlour : Brownie
Sai Ram Parlour : chocolate cake
4 Seasons : Sandwich
4 Seasons : Paneer biryani
4 Seasons : Brownie
4 Seasons : chocolate cake
Bean Board : Sandwich
Bean Board : Paneer biryani
Bean Board : Brownie
Bean Board : chocolate cake
Pista House : Sandwich
Pista House : Paneer biryani
Pista House : Brownie
Pista House : chocolate cake