In [3]:
''' args - Arbitrary arguments '''

' args - Arbitrary arguments '

In [6]:
def numbers(*args):
    print(args)

numbers(10,20,30,40)

(10, 20, 30, 40)

In [2]:
def pri(*prices):
    return sum(prices)
pri(100,200,300,400)

1000

In [22]:
def total_price(*prices):
    total = 0
    for price in prices:
        total += price
    return total

total_price(100,200,300,400)

1000

In [23]:
''' ** kw args - Arbitrary keyword argument '''

' ** kw args - Arbitary keyword argument '

In [25]:
def student_info(**kwargs):
    print (kwargs)

In [29]:
student_info(name = 'ram', age = 25, gender = 'male')

{'name': 'ram', 'age': 25, 'gender': 'male'}

In [30]:
def create_profile(**details):
    for key, value in details.items():
        print(f'{key} : {value}')

In [31]:
create_profile(name = 'Teja', age = 24, city = 'Visakhapatnam')

name : Teja
age : 24
city : Visakhapatnam

In [49]:
def my_func(**kwargs):
    name = kwargs.get('name') #['name']
    age = kwargs.get('age')
    print(f'Hello! My name is {name} and my age is {age}')

In [50]:
my_func(name = 'Teja', age = 24)

Hello! My name is Teja and my age is 24

In [63]:
def my_function(username, **details):
    print('Username:', username)
    print('Additional details:')
    for key, value in details.items():
        print(' ', key + ':', value)

In [61]:
my_function('tejagiri', name = 'Teja', age = 24, city = 'Visakhapatnam')

Username: tejagiri
Additional details:
  name: Teja
  age: 24
  city: Visakhapatnam

In [78]:
def student_details(roll_no, *marks, **info):
    print('Student roll number:', roll_no)
    print('Student marks:', marks)
    print('Student info:', info)

In [82]:
student_details(102983106, 
                90,85,75,97, 
                name = 'Teja', age = 24, school = 'Chalapathi High School')

Student roll number: 102983106
Student marks: (90, 85, 75, 97)
Student info: {'name': 'Teja', 'age': 24, 'school': 'Chalapathi High School'}

In [83]:
''' Lambda function '''

' Lambda function '

In [84]:
square = lambda x: x*x
square(5)

25

In [85]:
add = lambda a,b: a+b
add(5,4)

9

In [97]:
even = lambda x: x%2==0
even(5)

False

In [98]:
''' FIlter function '''

' FIlter function '

In [103]:
ages = [12,30,18,24,35,17,55]
adults = list(filter(lambda age: age >= 18, ages))
print('Adults:', adults)

Adults: [30, 18, 24, 35, 55]

In [104]:
''' Map function '''

' Map function '

In [105]:
num = [1,2,3,4,5]
square = list(map(lambda x: x*x, num))
print(square)

[1, 4, 9, 16, 25]

In [110]:
prices = [100, 150, 170, 200]
discount = list(map(lambda x: x - (x*0.10), prices))
print(discount)

[90.0, 135.0, 153.0, 180.0]

In [113]:
prices = [100, 150, 170, 200]
gst = list(map(lambda x: x + (x*0.18), prices))
print(gst)

[118.0, 177.0, 200.6, 236.0]

In [114]:
''' Reduce function '''

' Reduce function '

In [115]:
from functools import reduce

prices = [100,200,300,400]
total = reduce(lambda a,b : a+b, prices)
print(total)

1000