In [1]:
def square(n):
    return n*n

In [2]:
square(5)

25

In [3]:
def add(a,b):      #function with parameters
    return a+b

add(4,5)

9

In [7]:
def greet():
    print('Hello! looking good')

greet()     #calling function

Hello! looking good

In [23]:
# Even or odd number

def num(n):
    print('Even' if n % 2 == 0  else 'Odd')

In [25]:
num(4)

Even

In [26]:
# Define a function to check if a number is even or odd

def even_odd(num):
    if num % 2 == 0:
        return 'Even Number'
    else:
        return 'Odd Number'

In [27]:
even_odd(3)

'Odd Number'

In [32]:
# take the price of an item and add GST price to it
# GST price

def gst(price):
    return price + (0.18 * price)

In [33]:
gst(100)

118.0

In [67]:
#ATM Pin

def atm(pin):
    if pin == 1234:
        return 'Access granted!'
    else:
        return 'Wrong pin'

In [68]:
atm(1234)

'Access granted!'

In [69]:
atm(123)

'Wrong pin'

In [70]:
atm(4100)

'Wrong pin'

In [78]:
''' Positional Arguments '''

' Positional Arguments '

In [72]:
# Positional Arguments

def person(name, age):
    print(f'My name is {name} and my age is {age}')

In [73]:
person('rohan', 26)

My name is rohan and my age is 26

In [74]:
person (26, 'rohan')

My name is 26 and my age is rohan

In [75]:
def atm(bank, location):
    return f'{bank} atm is locatd at {location}'

In [76]:
atm('HDFC', 'KPHB')

'HDFC atm is locatd at KPHB'

In [77]:
atm('Kukatpally', 'SBI')

'Kukatpally atm is locatd at SBI'

In [79]:
''' Keyword Argument '''

' Keyword Argument '

In [81]:
def atm(bank, position):
    return f'{bank} is located at {position}'

In [82]:
atm(bank = 'SBI', position='Madhapur')

'SBI is located at Madhapur'

In [84]:
atm(position='Madhapur', bank='HDFC')

'HDFC is located at Madhapur'

In [85]:
''' Default Argument '''

' Default Argument '

In [86]:
def add(a=5, b=6):
    return a+b

In [87]:
add()

11

In [88]:
add(4,4)

8

In [89]:
add()

11

In [90]:
add(1)

7

In [92]:
add(5)

11

In [99]:
def sub(x=5, y):
    return x-y

SyntaxError: parameter without a default follows parameter with a default (2222169426.py, line 1)