In [1]:
''' Part A - List '''

' Part A - List '

In [10]:
# 1) Add and remove elements. 
# Start with [10, 20, 30], append 40, and remove 20. Print the final list, and find the length of a list

num_list = [10, 20, 30]
num_append = num_list.append(40)
print('List after adding 40:', num_list)
num_remove = num_list.remove(20)
print('List after removing 20:', num_list)

List after adding 40: [10, 20, 30, 40]
List after removing 20: [10, 30, 40]

In [11]:
# 2) Access elements. 
# Create a list [1, 2, 3, 4, 5] and print the first and last elements using indexing. 

num_list = [1, 2, 3, 4, 5]
print(num_list[0:6:1])

[1, 2, 3, 4, 5]

In [12]:
# 3) List slicing. 
# Given a list numbers = [10, 20, 30, 40, 50, 60], print only the middle three numbers. 

numbers = [10, 20, 30, 40, 50, 60]
print(numbers[2:5:1])

[30, 40, 50]

In [18]:
# 4) Sorting and reversing. 
# Given nums = [4, 1, 7, 3, 9], sort the list in ascending order and then reverse it.

nums = [4, 1, 7, 3, 9]
nums.sort()
print('Ascending order:',nums)
nums.reverse()
print('Reverse order:',nums)

Ascending order: [1, 3, 4, 7, 9]
Reverse order: [9, 7, 4, 3, 1]

In [23]:
# 5) Add 4 to the list. 
# Input: [1, 2, 3] 
# Output: [1, 2, 3, 4] 

nums = [1, 2, 3]
nums.append(4)
print(nums)

[1, 2, 3, 4]

In [30]:
# 6) Add elements [30, 40] to the list. 
# Input: [10, 20] 
# Output: [10, 20, 30, 40] 

nums = [10, 20]
nums.extend([30, 40])
print(nums)

[10, 20, 30, 40]

In [1]:
# 7) Find how many times 200 appears. 
# Input: [100, 200, 300, 200] 
# Output: 2

num = [100, 200, 300, 200]
num_200 = num.count(200)
print('200 appears', num_200, 'times')

200 appears 2 times

In [2]:
# 8) Arrange the list in ascending order. 
# Input: [5, 3, 8, 1] 
# Output: [1, 3, 5, 8] 

num = [5, 3, 8, 1] 
num.sort()
print(num)

[1, 3, 5, 8]

In [5]:
# Remove element 3 from the list. 
# Input: [1, 2, 3, 4] 
# Output: [1, 2, 4] 

num = [1, 2, 3, 4] 
num.remove(3)
print(num)

[1, 2, 4]

In [6]:
# Reverse the list. 
# Input: [9, 8, 7] 
# Output: [7, 8, 9] 

num = [9, 8, 7]
num.reverse()
print(num)

[7, 8, 9]

In [11]:
# 11) Insert 99 at position 1. 
# Input: [10, 20, 30] 
# Output: [10, 99, 20, 30] 

num = [10, 20, 30]
num.insert(1, 99)
print(num)

[10, 99, 20, 30]

In [12]:
# 12) Make a copy of the list and show both. 
# Input: [1, 2, 3] 
# Output: Original: [1, 2, 3], Copy: [1, 2, 3]

num = [1, 2, 3] 
num_copy = num.copy()
print('original list:', num)
print('copy list:', num_copy)

original list: [1, 2, 3]
copy list: [1, 2, 3]

In [13]:
# 13) Remove the last element and return it. 
# Input: [50, 60, 70] 
# Output: Returned: 70, Final list: [50, 60]

num = [50, 50, 70]
returned = num.pop()

print('Returned:', returned)
print('Final list:', num)

Returned: 70
Final list: [50, 50]

In [14]:
# 14) Remove one occurrence of 2 from the list. 
# Input: [1, 2, 2, 3, 4] 
# Output: [1, 2, 3, 4]

num = [1, 2, 2, 3, 4] 
num.remove(2)
num

[1, 2, 3, 4]

In [18]:
# 15) Find the position of 300. 
# Input: [100, 200, 300, 400] 
# Output: 2

num = [100, 200, 300, 400] 
num_300 = num.index(300)
print(num_300)

2

In [19]:
# 16) Remove all elements from the list. 
# Input: [10, 20, 30] 
# Output: [] 

num = [10, 20, 30]
num.clear()
print(num)

[]

In [23]:
# 17) Add [8, 10] as a single element. 
# Input: [2, 4, 6] 
# Output: [2, 4, 6, [8, 10]] 

num = [2, 4, 6]
num.append([8, 10])
print(num)

[2, 4, 6, [8, 10]]

In [26]:
# 18) Add elements (25, 35) to the list. 
# Input: [5, 15] 
# Output: [5, 15, 25, 35] 

num = [5, 15]
num.extend([25, 35])
print(num)

[5, 15, 25, 35]

In [29]:
# 19) Sort the list in descending order. 
# Input: [7, 1, 4, 3] 
# Output: [7, 4, 3, 1] 

num = [7, 1, 4, 3]
num_reverse = num.sort(reverse=True)
print(num)

[7, 4, 3, 1]

In [34]:
# 20) Find the maximum element in a list. 
# Input: [2, 8, 1, 9] 
# Output: 9

num = [2, 8, 1, 9] 
num_max = max(num)
print(num_max)

9

In [35]:
''' Part b - Tuple '''

' Part b - Tuple '

In [38]:
# Q1. Find how many times 2 appears. 
# Input: (1, 2, 3, 2, 4) 
# Output: 2 

num = (1, 2, 3, 2, 4)
print(num.count(2))

2

In [39]:
# Q2. Find the position of 30. 
# Input: (10, 20, 30, 40) 
# Output: 2 

num = (10, 20, 30, 40)
print(num.index(30))

2

In [42]:
# Q3. Access the last element of a tuple. 
# Input: (5, 15, 25, 35) 
# # Output: 35 

num = (5, 15, 25, 35)
print(num[3])

35

In [43]:
# Q4. Find the length of a tuple. 
# Input: (1, 2, 3, 4, 5) 
# Output: 5 

num = (1, 2, 3, 4, 5) 
print(len(num))

5

In [45]:
# Q5. Repeat a tuple 3 times. 
# Input: (1, 2) 
# Output: (1, 2, 1, 2, 1, 2) 

num = (1, 2)
result = num*3
result

(1, 2, 1, 2, 1, 2)

In [46]:
# Q6. Find the index of an element. 
# Input: (10, 20, 30, 20), index of 30 
# Output: 2 

num = (10, 20, 30, 20)
print(num.index(30))

2

In [47]:
# Q7. Convert a list into a tuple. 
# Input: [1, 2, 3] 
# Output: (1, 2, 3) 

num = [1, 2, 3]
result = tuple(num)
print(result)

(1, 2, 3)

In [49]:
# Q8. Check if an element exists in a tuple. 
# Input: (1, 2, 3, 4), check 3 
# Output: True 

num = (1, 2, 3, 4)
if 3 in num:
    print(True)
else:
    print(False)

True

In [58]:
# Q9. Reverse a tuple. 
# Input: (1, 2, 3, 4) 
# Output: (4, 3, 2, 1)

num = (1, 2, 3, 4)
result = tuple(reversed(num))
result

(4, 3, 2, 1)

In [59]:
''' Part C: Set '''

' Part C: Set '

In [63]:
# Q1. Find common elements from three sets. 
# Input: {1,2,3,4}, {2,3,5,6}, {0,2,3,7} 
# Output: {2, 3}

set1, set2, set3 = {1,2,3,4}, {2,3,5,6}, {0,2,3,7}
print(set1 & set2 & set3)

{2, 3}

In [72]:
# Q2. Find elements that are only in the first set but not in the other 
# two. 
# Input: {1,2,3,4,5}, {2,3}, {4,6} 
# Output: {1, 5} 

set1, set2, set3 = {1,2,3,4,5}, {2,3}, {4,6}
print(set1 - set2 - set3)

{1, 5}

In [81]:
# Q3. Create a set of unique vowels from a string. 
# Input: "education" 
# Output: {'a', 'e', 'i', 'o', 'u'} 

num = "education"
vowels = 'aeiou'
result = set()

for ch in num:
    if ch in vowels:
        result.add(ch)
print(result)

{'u', 'e', 'i', 'o', 'a'}

In [85]:
# Q4. Convert a list of tuples into a set. 
# Input: [(1,2), (3,4), (1,2)]
# Output: {(1, 2), (3, 4)} 

num = [(1,2), (3,4), (1,2)]
result = set(num)
print(result)

{(1, 2), (3, 4)}

In [89]:
# Q5. Find the intersection of characters in two words. 
# Input: "banana", "bandana" 
# Output: {'a', 'b', 'n'} 

fruit1, fruit2 = "banana", "bandana"
result = set(fruit1) & set(fruit2)
result

{'a', 'b', 'n'}

In [95]:
# Q6. Find digits in the first number but not in the second. 
# Input: 12345, 34567 
# Output: {'1', '2'}

num1, num2 = '12345', '34567'
result = set(num1) - set(num2)
result

{'1', '2'}

In [96]:
# Q7. Find all unique words from a sentence. 
# Input: "python is fun and python is powerful" 
# Output: {'is', 'python', 'fun', 'and', 'powerful'}

sent = "python is fun and python is powerful"
unique_words = set(sent.split())
print(unique_words)

{'python', 'powerful', 'is', 'and', 'fun'}

In [98]:
# Q8. Remove duplicates from a list. 
# Input: [1,2,2,3,3,4,5] 
# Output: {1, 2, 3, 4, 5} 

num = [1,2,2,3,3,4,5]
print(set(num))

{1, 2, 3, 4, 5}

In [104]:
# Q9. Find non-overlapping characters between two words. 
# Input: "hello", "world" 
# Output: {'h', 'e', ‘w’, 'r', 'd'} 

word1, word2 = "hello", "world"
result = set(word1) ^ set(word2)
print(result)

{'h', 'e', 'd', 'w', 'r'}

In [107]:
# Q10. Find maximum and minimum elements in a set. 
# Input: {12, 7, 25, 3, 18} 
# Output: 25 3 

num = {12, 7, 25, 3, 18}
print(max(num), min(num))

25 3

In [108]:
''' Part D: Dictionary '''

' Part D: Dictionary '

In [113]:
# 1) Create and print dictionary 
# Create a dictionary with 3 key–value pairs: name, age, and city. 
# Print all keys and values. 

dict1 = {
            'name' : 'Teja',
            'age' : '24',
            'city' : 'Visakhapatnam'
}

for key, value in dict1.items():
    print(key,':', value)

name : Teja
age : 24
city : Visakhapatnam

In [122]:
# 2) Get the value of a dictionary with the maximum value. 
# Input: {'a':10, 'b':25, 'c':15} 
# Output: 25 

dict1 = {'a':10, 'b':25, 'c':15}
result = max(dict1.values())
result

25

In [128]:
# 3) Get all dictionary values as a single string. 
# Input: {'a':'hi','b':'there'} 
# Output: "hi there" 

dict1 = {'a':'hi','b':'there'}
result = " ".join(dict1.values())
result

'hi there'

In [129]:
# 4) Remove the last inserted pair. 
# Input: {'a':1, 'b':2, 'c':3} 
# Output: {'a':1, 'b':2}

dict1 = {'a':1, 'b':2, 'c':3}
dict1.popitem()
print(dict1)

{'a': 1, 'b': 2}

In [133]:
# 5) Find values present in both dictionaries. 
# Input: {'x':1, 'y':2}, {'a':2, 'b':3} 
# Output: {2} 

dict1 = {'x':1, 'y':2}
dict2 = {'a':2, 'b':3}
result = set(dict1.values()) & set(dict2.values())
print(result)

{2}

In [136]:
# 6) Find the sum of dictionary keys. 
# Input: {10:'a', 20:'b', 30:'c'} 
# Output: 60

dict1 = {10:'a', 20:'b', 30:'c'}
print(sum(dict1.keys()))

60

In [137]:
# 7) Remove duplicates from dictionary values. 
# Input: {'a':1, 'b':2, 'c':1} 
# Output: {1, 2} 

dict1 = {'a':1, 'b':2, 'c':1}
print(set(dict1.values()))

{1, 2}

In [167]:
# 8) Create a dictionary with the keys 'name', 'age', and 'city'. 
# Then: 
# a. Print all keys and values. 
# b. Access and print the value of the key 'course' from the dictionary student = {'name': 'Ravi', 'age': 20, 'course': 'Python'}. 
# c. Add a new key 'grade': 'A' to the dictionary and remove the key 'age'. 
# Finally, print the updated dictionary.

dict1 = {'name' : 'Teja', 'age': 24, 'city': 'Visakhapatnam'}
student = {'name': 'Ravi', 'age': 20, 'course': 'Python'}

# print all the key values and keys
for key, value in dict1.items():
    print(key, ':', value)

# Access and print the value of the key 'course' from the dictionary student
print('course:',student['course'])

# Add a new key 'grade': 'A' to the dictionary and remove the key 'age' and printing the updated dictionary
dict1['grade'] = 'A'
dict1.pop('age')
print(dict1)

name : Teja
age : 24
city : Visakhapatnam
course: Python
{'name': 'Teja', 'city': 'Visakhapatnam', 'grade': 'A'}