In [2]:
# Q1. Define and print a variable
# Create a variable name and assign your name to it. Print the value of the variable.

#A Variable is a name in which the value is stored

name = input('Enter your name:')
print('Your name is', name)

#Approach: Taken 'name' as a variable and given a user input command so that the user can enter their name by executing the code.

Enter your name: Teja

Your name is Teja

In [10]:
# Q2. Multiple variable assignments.
# Assign the values 10, 20, and 30 to variables a, b, and c in a single line. Print all three variables. 

a,b,c = 10,20,30
print(a,b,c)

#approach: Taken the variables in a single line command instead of assigning the values to the variables multiple times and printed the variables.

10 20 30

In [22]:
# Q3. Swap two variables
# Create variables x = 5 and y = 10. Swap their values without using a third variable and print the result.

x = 5
y = 10

# Swapping using XOR
x = x ^ y 
y = x ^ y 
x = x ^ y 

print("x =", x)
print("y =", y)

x = 10
y = 5

In [23]:
# Q4. Valid vs Invalid Identifiers
# Write 5 examples of valid Python identifiers and 5 examples of invalid identifiers. Explain why the invalid ones are not allowed.

''' Answer--

- An Identifier must start with alphabates(letter (a-z or A-Z)) or an underscore (_)
- It can contain letters, digits(0-9), and underscore
- Cannot start wih numbers or special characters
- Cannot contain spaces, special characters and python keywords

Valid Idenifier:

- name
- _value
- age1
- my_name
- Teja_

Invalid identifiers:

- 1name       -  must start with letter
- class       -  keywords cannot be used
- your-name   -  hyphen is not allowed
- first name  -  spaces inbetween is not allowed
- @class      -  cannot start with special character   '''

' Answer--\n\n- An Identifier must start with alphabates(letter (a-z or A-Z)) or an underscore (_)\n- It can contain letters, digits(0-9), and underscore\n- Cannot start wih numbers or special characters\n- Cannot contain spaces, special characters and python keywords\n\nValid Idenifier:\n\n- name\n- _value\n- age1\n- my_name\n- Teja_\n\nInvalid identifiers:\n\n- 1name       -  must start with letter\n- class       -  keywords cannot be used\n- your-name   -  hyphen is not allowed\n- first name  -  spaces inbetween is not allowed\n- @class      -  cannot start with special character   '

In [3]:
# Q5. Variable naming rules
# Create three variables following Python naming rules and print them.

name = 'Teja'
age = 24
healthy = True

print('Name:', name)
print('Age:', age)
print('Healty:', healthy)

Name: Teja
Age: 24
Healty: True

In [18]:
# Q6. Assign different data types
# Assign the following to variables and print their types:
# An integer
# A float
# A string
# A boolean

integer_ = int(input('Integer:'))
float_ = float(input('Float:'))
string_ = str(input('String:'))
bool_input = input('Boolean (True/False):')
boolean_ = bool_input.lower() == 'true'

print("Integer:", integer_, '|' ,'Type:', type(integer_))
print("Float:", float_, '|' ,'Type:', type(float_))
print("String:", string_, '|' ,'Type:', type(string_))
print('Boolean', boolean_, '|' ,'Type:', type(boolean_))

Integer: 20
Float: 5.6
String: hello
Boolean (True/False): true

Integer: 20 | Type: <class 'int'>
Float: 5.6 | Type: <class 'float'>
String: hello | Type: <class 'str'>
Boolean True | Type: <class 'bool'>

In [34]:
# Q7. Dynamic typing
# Assign an integer to a variable num. Then reassign a string to the same variable. Print the value and type each time.

#assigning an integer
num = 55
print('Value of num is', num)
print('Type of num is', type(num))

#Re-assigning a string to the variable num
num = 'Fifty five'
print('Value of num is', num)
print('Type of num is', type(num))

Value of num is 55
Type of num is <class 'int'>
Value of num is Fifty five
Type of num is <class 'str'>

In [24]:
# Q8. Create a variable city and assign it the value "Bangalore". Then create another variable population with a value of 12000000. Print both variables in a single line separated by a comma.
# Input:
# city = "Bangalore"
# population = 12000000
# Output:
# Bangalore, 12000000

city = 'Bangalore'
population = 12000000
print(city + ',', population)

Bangalore, 12000000

In [28]:
# Q9. Create a variable language = "Python" and another variable version = 3.10. Print a sentence combining both variables like: "Python version is 3.10".
# Input:
# language = "Python"
# version = 3.10
# Output:
# Python version is 3.10

language = "Python"
version = 3.10
print(f"{language} version is {version:.2f}")

Python version is 3.10

In [37]:
# Q10. Concatenate variables
# Create two string variables first_name = "John" and last_name = "Doe". Concatenate them into a new variable, full_name and print it.

first_name = "John"
last_name = 'Doe'
full_name = first_name + ' ' + last_name
print(full_name)

John Doe