In [1]:
mobile = {

    'Apple': {

        '13': [38000, 45000, 52000],

        '14': [56000, 60000, 70000],

        '15': [67000, 72000, 82000]

    },


    'Samsung': {

        'S22': [67000, 89000],

        'S23': [89000, 95000],

        'S24': [90000, 123000]

    },


    'OPPO': {

        'Reno': [23000, 25000],

        'X': [34000, 45000]

    },


    'One Plus': {

        '8': [23000, 34000],

        '9': [34000, 45000],

        '10': [45000, 52000]

    },


    'Google': {

        '8': [89000, 90000, 100000],

        '9': [123000, 145000, 163000]

    }

}

In [7]:
# Q1. What is the total number and names of the models in the brand Samsung?

samsung_models = mobile['Samsung'].keys()
print('Total models:', len(samsung_models))
print('Model names:', list(samsung_models))

Total models: 3
Model names: ['S22', 'S23', 'S24']

In [11]:
# Q2. If you purchase 2 Samsung S24 base models and 3 Apple 14 high-end mobiles, what will be the total price?

samsung_s24_base = mobile['Samsung']['S24'][0]
apple_14_highend = mobile['Apple']['14'][2]
total = (2*samsung_s24_base)+(3*apple_14_highend)
print('Total price is', total)

Total price is 390000

In [12]:
# Q3. If you purchase 20 Samsung S22 base models and 3 Google 9 high-end mobiles, what will be the total price?

samsung_s22_base = mobile['Samsung']['S22'][0]
google_9_highend = mobile['Google']['9'][2]
total = (20*samsung_s22_base)+(3*google_9_highend)
print('Total price is', total)

Total price is 1829000

In [13]:
# Q4. How many models are there in the Apple Brand?

apple_models = mobile['Apple'].keys()
print('Models in Apple:', len(apple_models))

Models in Apple: 3

In [18]:
# Q5. What are all the models available in Google?

google_models = mobile['Google'].keys()
print('Models available in google are', list(google_models))

Models available in google are ['8', '9']

In [21]:
# Q6. How many price variants are there in Apple mobiles?

apple_varients = sum(len(prices) for prices in mobile['Apple'].values())
print("Total price variants in Apple mobiles:", apple_variants)

Total price variants in Apple mobiles: 9